# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

/godoctor/2dGameDev_FlightShooting/[Ll]ibrary/
/godoctor/2dGameDev_FlightShooting/[Tt]emp/
/godoctor/2dGameDev_FlightShooting/[Oo]bj/
/godoctor/2dGameDev_FlightShooting/[Bb]uild/
/godoctor/2dGameDev_FlightShooting/[Bb]uilds/
/godoctor/2dGameDev_FlightShooting/[Ll]ogs/
/godoctor/2dGameDev_FlightShooting/[Mm]emoryCaptures/

/godoctor/PanelSwipe/[Ll]ibrary/
/godoctor/PanelSwipe/[Tt]emp/
/godoctor/PanelSwipe/[Oo]bj/
/godoctor/PanelSwipe/[Bb]uild/
/godoctor/PanelSwipe/[Bb]uilds/
/godoctor/PanelSwipe/[Ll]ogs/
/godoctor/PanelSwipe/[Mm]emoryCaptures/


/godoctor/unity_3d_basic/[Ll]ibrary/
/godoctor/unity_3d_basic/[Tt]emp/
/godoctor/unity_3d_basic/[Oo]bj/
/godoctor/unity_3d_basic/[Bb]uild/
/godoctor/unity_3d_basic/[Bb]uilds/
/godoctor/unity_3d_basic/[Ll]ogs/
/godoctor/unity_3d_basic/[Mm]emoryCaptures/
/godoctor/unity_3d_basic/[Uu]ser[Ss]ettings/


/godoctor/unity_3d_basic*/[Ll]ibrary/
/godoctor/unity_3d_basic*/[Tt]emp/
/godoctor/unity_3d_basic*/[Oo]bj/
/godoctor/unity_3d_basic*/[Bb]uild/
/godoctor/unity_3d_basic*/[Bb]uilds/
/godoctor/unity_3d_basic*/[Ll]ogs/
/godoctor/unity_3d_basic*/[Mm]emoryCaptures/
/godoctor/unity_3d_basic*/[Uu]ser[Ss]ettings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties
